* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #7b66ff, #5ac8ff) !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


/* NAVBAR */
.navbar {
  width: 100%;
  background: white;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  font-size: 2.2rem;
  font-weight: 800;
  color: #0066ff;
  letter-spacing: 0.3px;
}

.nav-links a {
  margin-right: 25px;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.nav-auth button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.login-btn {
  background: transparent;
  border: 2px solid #0066ff;
  color: #0066ff;
}

.signup-btn {
  background: #0066ff;
  color: white;
}
